[submodule "components/tiny/tiny"]
	path = components/tiny/tiny
	url = https://github.com/gkcity/tiny.git
	branch = master
[submodule "components/tinyfx/tinyfx"]
	path = components/tinyfx/tinyfx
	url = https://github.com/gkcity/tinyfx.git
	branch = master
[submodule "components/tinymdns/tinymdns"]
	path = components/tinymdns/tinymdns
	url = https://github.com/gkcity/tinymdns.git
	branch = master
[submodule "components/tinycrypto/tinycrypto"]
	path = components/tinycrypto/tinycrypto
	url = https://github.com/gkcity/tinycrypto.git
	branch = master
